<div class="body">
  <div class="container">
    <div class="row">
      <!-- 注文情報入力ページ -->
      <div>
        <h4>購入情報入力</h4>
        <div>
          <h4>支払方法</h4>
        </div>
        <div>
          <h4>お届け先</h4>
        </div>

        <div>
          <a class = "show-icon">
          <%= link_to "確認画面へ進む", new_order_path %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
