// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.this {
	margin-bottom: 170px;
}

.column-name {
	margin-right: 50px;
}

.title {
	margin: 0 50px 20px;
}

.right {
	margin: 20px;
}