.product-index{
    font-size: 25px;
}
.page-info{
    padding-bottom: 10px;
}
.image{
    padding-left: 220px;
    width:5%;
    height:5%;
    
}
.container{
    margin:auto;
}
.row-index{
    padding-left: 200px;
}