// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mail {
    margin-top: 185px;
}

.pass {
	margin-top: 30px;
	margin-bottom: 30px;
}

.login {
	margin-bottom: 185px;
}