/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
	text-decoration: none;
}

header{
	color: #756660;
	background-color: #ffead5;
	margin-bottom:30px;
}

.sitelogo img{
	height: 60px;
}

li{
	position: relative;
	list-style: none;
}

.navber-right > li{
	line-height: 60px;
	display: inline-block;
}

li a{
	color: #756660;
}

.navber-right{
	float: right;
	margin: 0;
}

.input-group{
	width: 200px;
	float:right;
	margin: 10px;
}


footer{
	height: 100px;
	color: #756660;
	background-color: #ffead5;
	margin-top:30px;
}

.container{
	position:relative;
}

.footer-left{
	float:left;
}

.inc{
	height:100px;
	float:right;
	display: inline-block;
}

.inc-name{
	position:absolute;
	bottom: 0;
	right:0;
}

.panel-info{
	margin-top:20px;
}

.table-sign-up{
	margin-left: 50px;
}

table{
	border-spacing: 10px;
}
.member-new{
	width: 100%;
	margin: 0 auto;
}
.login-name{
	color:#534438;
}