// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-box {
	padding-top: 10px;
	color:#756660;
}

.product-item {
	float: left;
	border: 1px solid black;
	border: 2px solid #ddc8b3;
	border-radius: 5px;
	margin: 5px;
}

.product-details{
	background-color:#ffead5;
	padding: 10px;
}

.product-price {
	display: inline-block;
}

.product-genre {
	display: inline-block;
	margin-left: 100px;
	background-color:#9e877e;
	border-radius: 3px;
	padding: 0 3px;
}
.product-genre a{
	color: white;
}
.product-genre a:hover{
	color: white;
}

.about{
	margin:50px 0;
	color: #756660;
}

//ジャンル検索
.genre-box{
	height:500px;
	background-color:#ffead5;
	border-radius: 5px;
	padding: 0 10px;
}

.genre-search-title{
	color:white;
	background-color:#856859;
	border-radius:3px;
	padding: 5px;
}

.genre-link > a{
	display: block;
	text-decoration: underline;
	color:#756660;
	font-size: 20px;
}

.genre-link{
	margin:20px 5px;
}