// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-info{
	float:left;
}
.member-btn{
	float:left;
	margin-top:20px;
	margin-left: 10px;
}
.center-btn{
	width: 100%;
	margin: 0 auto;
}