// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table .order-table{
	vertical-align: middle;
}
.input-box{
	padding:10px 0 10px 30px;
	margin-bottom:10px;
	border:2px solid #ddc8b3;
	border-radius:3px;
}
.input-box label{
	font-size:16px;
}
.address-box{
	padding-left:30px;
	font-size:15px;
}
.input-title{
	font-size:22px;
	padding:2px;
	border-radius:3px;
	font-weight: 500;
	background-color:#ffead5;
}