// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit{
  margin-top: 20%;
}
.title{
  margin-bottom:40px;
}
.column-name{
  margin-bottom:15px;
}
.colum{
  margin-right: 20px;
}
.index1{
  margin-right:50px;
}

//商品一覧
.product-box {
	padding-top: 10px;
	color:#756660;
}

.product-item {
	float: left;
	border: 2px solid #ddc8b3;
	border-radius: 5px;
	margin: 10px;
}

.product-details{
	background-color:#ffead5;
	padding: 10px;
}

.product-price {
	display: inline-block;
}

.product-genre {
	display: inline-block;
	margin-left: 100px;
	background-color:#9e877e;
	border-radius: 3px;
	color:white;
}



//ジャンル検索
.genre-box{
	height:500px;
	background-color:#ffead5;
	border-radius: 5px;
	padding: 0 10px;
	border: 2px solid #ddc8b3;
}

.genre-search-title{
	color:white;
	background-color:#9e877e;
	border-radius:3px;
	padding: 5px;
}

.genre-link > a{
	display: block;
	text-decoration: underline;
	color:#756660;
	font-size: 20px;
}

.genre-link{
	margin:20px 5px;
}

//商品詳細
.product-show{
	margin-top: 30px;
}
.product-show h2{
	text-decoration:underline;
	text-decoration-color:#998478;
}

.product-text{
	border: 1px solid #ddc8b3;
	border-radius:3px;
	padding: 10px
}
.product-img {
	border: 2px solid #ddc8b3;
	border-radius:3px;
}
.count{
	padding:5px;
	width:100px;
	border-radius:3px;
}
.price{
	margin: 20px 0;
	font-size:20px;
}