<div class="body">
  <div class="container">
    <div class="row">
      <!-- ジャンル部分テンプレート -->
      <div class="col-xs-2"></div>

      <!-- 商品一覧ページ -->
      <div class="col-xs-10">
        <div>
          <div>画像</div>
          <div>商品名、価格</div>
        </div>
        <div>
          <%= form_for(@cart_product) do |f| %>
            <%= f.text_field :count %>
          <% end %>
          個数選択</div>
        <div>
          <a class = "show-icon">
            <%= link_to "カートに入れる", cart_products_path %>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
