<div class="body">
  <div class="container">
    <div class="row">
      <!-- ジャンル部分テンプレート -->
      <div class="col-xs-2"></div>

      <!-- 商品一覧ページ -->
      <div class="col-xs-10">
        <div>
          <div>画像</div>
          <div>商品名、価格</div>
        </div>
        <div>個数選択　カートに入れる</div>
      </div>

    </div>
  </div>
</div>
