<h4>本当に退会しますか？</h4>

<p>退会すると、会員登録情報や<br>
これまでの購入履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。</p><br>

<%= link_to "退会しない", member_path(@member.id) %>
<%= link_to "退会する", member_path(@member.id), method: :patch, params: { status: '1'} %>